// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.game-container {
    width: 100%;
	padding: 15px;
	border-bottom: solid 1px #e7eaec;

	div.left {
	   border: solid;
	   background-color: blue;
	   display: inline-block;
	   vertical-align: top;
	}

	div.right {
	   padding-left: 10px;
	   max-width: 1124px;
	   width: 82%;
	   display: inline-block;

	    .game-title {
			vertical-align: top;
			font-size: 24px;
			font-weight: 300;
		}
		.game-rating {
			text-align: left;
			display: inline-block;
		}
		.game-categories {
			margin-left: 20px;
		}
		.user-dropdown {
			float: right;
			vertical-align: top;
		}
	}
}