div.navbar-lower {
    min-height: 40px;
    background-color: white;

    .row {
        padding: 0px, 10px;
    }
    .user_links a {
       color: #2f4050;
       font-weight: 400;
    }
}

li.profile {
    span.user_photo img {
        border-radius: 5px;
    } 
}

div.navbar-inverse {
	background-color: #2f4050;
    border-bottom: solid 3px black;
	margin-bottom: 0px;
	paddin-bottom: 0px;
	color: white;
}

@media(max-width:767px) {
    .navbar .navbar-form {
        width: 185px;
        padding-left:0;
        padding-right:0;
    }
}
@media(min-width:768px) {
    .navbar .navbar-form {
        width: 250px;
    }

    .navbar .input-group {
    	width: 550px;
    }
}
.navbar .navbar-form {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}