<div class="navbar navbar-inverse navbar-static-top">
   <div class="container">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand hidden-xs" href="#">Game Night</a>
         <a class="navbar-brand visible-xs" href="#">GN</a>
         <%= form_tag games_path, class: "navbar-form pull-left", role: "search", method: :get do %>
            <div class="input-group">
               <input type="text" class="form-control" placeholder="Search" name="game_title">
               <div class="input-group-btn">
                  <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
               </div>
            </div>
         <% end %>
      </div>
      <div class="navbar-collapse collapse">
         <ul class="nav navbar-nav navbar-right">
            <li><a href="#">My Games</a></li>
            <li><a href="#">Wish List</a></li>
            <li><a href="#">Sign In</a></li>
         </ul>
      </div>
   </div>
</div>